# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Datos grandes
*.mp4
*.avi
*.mov
datasets/

# Jupyter
*.ipynb
.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

